VITE_GOOGLE_CLIENT_ID=VOTRE_CLIENT_ID_GOOGLE_ICI.apps.googleusercontent.com

# Identifiants MEGA pour le stockage gratuit des photos (20 Go)
MEGA_EMAIL=
MEGA_PASSWORD=

# Optionnel: Identifiants GitHub pour synchronisation multi-appareils
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=
GITHUB_TOKEN=